<div class="form-group" [formGroup]="vehicleForm">
  <label for="carBodyTypeFormSelect">Body Type</label>
  <select class="form-control" id="carBodyTypeFormSelect" name="carBodyType" [formControlName]="'carBodyType'">
    <option value="Sedan">Sedan</option>
    <option value="Hatchback">Hatchback</option>
  </select>
</div>
<div class="form-group" [formGroup]="vehicleForm">
  <label for="numberOfDoors">Number of Doors</label>
  <input id="numberOfDoors" class="form-control" type="number" name="numberOfDoors" [formControlName]="'numberOfDoors'">
  <div *ngIf="(vehicleForm.controls['numberOfDoors'].dirty || vehicleForm.controls['numberOfDoors'].touched) && vehicleForm.controls['numberOfDoors'].invalid"
       class="alert alert-danger">
    <div *ngIf="vehicleForm.controls['numberOfDoors'].errors.required">
      Number of doors is required.
    </div>
    <div *ngIf="vehicleForm.controls['numberOfDoors'].errors.min">
      Number of doors must be at least 1.
    </div>
    <div *ngIf="vehicleForm.controls['numberOfWheels'].errors.max">
      Number of wheels must be equal to or less than 10.
    </div>
  </div>
</div>
<div class="form-group" [formGroup]="vehicleForm">
  <label for="numberOfWheels">Number of Wheels</label>
  <input id="numberOfWheels" class="form-control" type="number" name="numberOfWheels" [formControlName]="'numberOfWheels'">
  <div *ngIf="(vehicleForm.controls['numberOfWheels'].dirty || vehicleForm.controls['numberOfWheels'].touched) && vehicleForm.controls['numberOfWheels'].invalid"
       class="alert alert-danger">
    <div *ngIf="vehicleForm.controls['numberOfWheels'].errors.required">
      Number of wheels is required.
    </div>
    <div *ngIf="vehicleForm.controls['numberOfWheels'].errors.min">
      Number of wheels must be at least 3.
    </div>
    <div *ngIf="vehicleForm.controls['numberOfWheels'].errors.max">
      Number of wheels must be equal to or less than 10.
    </div>
  </div>
</div>
